<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF and Word Converter</title>
</head>
<body>
    <h1>Convert PDF to Word and Word to PDF created by Engr.Ajman</h1>

    <h2>PDF to Word</h2>
    <form action="/convert_pdf_to_word" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf_file" accept="application/pdf" required>
        <button type="submit">Convert to Word</button>
    </form>

    <h2>Word to PDF</h2>
    <form action="/convert_word_to_pdf" method="post" enctype="multipart/form-data">
        <input type="file" name="word_file" accept=".docx" required>
        <button type="submit">Convert to PDF</button>
    </form>
</body>
</html>
